/*  your css code here. If applicable */
body {
     margin : 0px ;
}

.navbar {
    display: flex;
    gap: 15px;
    background: black;
    color: white;
    padding: 10px;
    
}

.btn {
    margin-top: 10px;
    padding: 6px 12px;
}
